<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TandemTalk Language Learning</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/Resources/variable.css">
    <link rel="stylesheet" href="/Resources/basic_initial.css">
    <link rel="stylesheet" href="/Resources/layout.css">
    <link rel="stylesheet" href="/Resources/bubble_effect.css">
    <script src="/Resources/nav_form.js"></script>
</head>

<body>
    <div class="page-container"> <!--squelette en grid pour un placement plus précis et adaptatif-->
        <!--HEADER PRINCIPAL-->
        <header class="main-header header-bubble floating-slow">
            <div class="header-left">
                <div class="logo">
                    <div class="logo-placeholder">TravelTandem</div>
                </div>
                <nav class="main-nav nav-bubble">
                    <button class="lang-btn" data-lang="fr">French</button>
                    <button class="lang-btn" data-lang="es">Spanish</button>
                    <button class="lang-btn" data-lang="it">Italian</button>
                    <button class="lang-btn" data-lang="pt">Portuguese</button>
                    <button class="lang-btn" data-lang="th">Thai</button>
                    <button class="lang-btn" data-lang="en">English</button>
                </nav>
            </div>

            <div class="header-right">
                <div class="auth-buttons">
                    {{if .IsLogged}}
                    <br>
                    {{else}}
                    <a href="/register" class="accent-button pink button-bubble">Register</a>
                    <a href="/login" class="accent-button blue button-bubble">Login</a>
                    {{end}}
                </div>

                <div class="button-bubble">
                    <p>Connécté en tant que : {{pseduo}}</p>
                </div>
            </div>
        </header>



        <!--CONTENU PRINCIPAL-->

        <main class="main-content">
            <div class="forum-layout">
                <div class="forum-content">
                    <!-- Actions du forum -->
                    
                    <h1 class="forum-title">Top Threads</h1>
                    <table class="topic-bubble floating-slow">
                        <thead>
                            <tr>
                                <th>TOPIC</th>
                                <th>AUTHOR</th>
                                <th>REPLIES</th>
                                <th>LAST MESSAGE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .MostLikedThread}}
                            <tr>
                                <td><a href="/thread?thread_id={{.ID}}" class="topic-title"><i
                                            class="fas fa-comment"></i>{{.Title}}</a></td>
                                <td><i class="fas fa-user"></i> {{.Author}}</td>
                                <td><i class="fas fa-comments"></i> {{.Replies}}</td>
                                <td><i class="fas fa-clock"></i> {{.Creation}}</td>
                            </tr>
                            <tr>
                                <td><a href="/thread?thread_id={{.ID}}" class="topic-title"><i
                                            class="fas fa-comment"></i>{{.Title}}</a></td>
                                <td><i class="fas fa-user"></i> {{.Author}}</td>
                                <td><i class="fas fa-comments"></i> {{.Replies}}</td>
                                <td><i class="fas fa-clock"></i> {{.Creation}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    <div id="posts-container">
                        <!--les postes seront afficher ici-->
                    </div>

                    <h1 class="forum-title">Lasted Threads</h1>
                    <table class="topic-bubble floating-slow">
                        <thead>
                            <tr>
                                <th>TOPIC</th>
                                <th>AUTHOR</th>
                                <th>REPLIES</th>
                                <th>LAST MESSAGE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .LastedThreads}}
                            <tr>
                                <td><a href="/thread?thread_id={{.ID}}" class="topic-title"><i class="fas fa-comment"></i>{{.Title}}</a></td>
                                <td><i class="fas fa-user"></i> {{.Author}}</td>
                                <td><i class="fas fa-comments"></i> {{.Replies}}</td>
                                <td><i class="fas fa-clock"></i> {{.Creation}}</td>
                            </tr>
                            <tr>
                                <td><a href="/thread?thread_id={{.ID}}" class="topic-title"><i class="fas fa-comment"></i>{{.Title}}</a></td>
                                <td><i class="fas fa-user"></i> {{.Author}}</td>
                                <td><i class="fas fa-comments"></i> {{.Replies}}</td>
                                <td><i class="fas fa-clock"></i> {{.Creation}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>

                    <div id="posts-container">


                    </div>
                </div>



                <!--SIDEBAR-->
                <aside class="forum-sidebar" style="width: 280px;">
                    <div class="search-bar">
                        <form>
                            <input type="text" class="search-input" placeholder="Rechercher un sujet, un auteur..." />
                            <button class="search-button"><span class="icon-search">🔍</span></button>
                        </form>
                    </div>

                    <div class="info-section">
                        <h3>Langues populaires</h3>
                        <div class="forum-links">
                            <ul>
                                <li><a href="#">Français (1020 sujets)</a></li>
                                <li><a href="#">Anglais (870 sujets)</a></li>
                                <li><a href="#">Espagnol (740 sujets)</a></li>
                            </ul>
                        </div>
                    </div>

                    
                    {{if .IsLogged}}
                    <div class="forum-actions">
                        <a href="/creation" class="accent-button bleu button-bubble"><i
                                class="fas fa-plus-circle"></i>Nouveau sujet</a>
                    </div>
                    {{end}} 
                </aside>

            </div>
        </main>

        <footer class="footer footer-bubble">
            <div class="footer-content">
                <p>&copy; 2025 TravelTandem - All rights reserved</p>
                <div class="social-links">
                    <a href="#" class="button-bubble social-link"><i class="fab fa-facebook"></i></a>
                    <a href="#" cla ss="button-bubble social-link"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="button-bubble social-link"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>